.Ingredient {
  display: flex;
  justify-content: space-between;
  height: 24px;
  margin-bottom: 5px;
}
.Ingredient > * {
  vertical-align: middle;
  line-height: 24px;
  margin-right: 5px;
}
.Ingredient > *:last-child {
  margin-right: 0;
}
.Ingredient button {
  display: inline-block;
  border: none;
  background-size: auto 100%;
  outline: none;
  max-width: 24px !important;
  width: 24px;
  height: 24px;
  font-size: 0;
  cursor: pointer;
}
.Ingredient button:active {
  transform: scale(1.1);
}
.ingredientAddBtn {
  background: none;
  position: relative;
}
.ingredientAddBtn img {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
}
.ingredientName {
  flex-grow: 1;
}
.ingredientCount {
  flex-basis: 10%;
}
.ingredientRemoveBtn {
  background: url(./remove.png) 50% 50% no-repeat;
  background-size: auto 80% !important;
}