* {
  box-sizing: border-box;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #fff;
}
.container > div {
  flex-basis: 50%;
  border: 2px solid #000;
  margin: 15px;
  padding: 15px;
  position: relative;
}
.container > div:first-child {
  margin-right: 8px;
}
.container > div:last-child{
  margin-left: 8px;
}
.container > div h4 {
  margin: 0;
  background-color: #fff;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  left: 15px;
  padding: 5px;
}
.burgerPrice {
  text-align: center;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}